/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Kanit:wght@500&display=swap");
/* Importa fontes externas do Google Fonts. */

/* Variáveis de cor */
:root {
  /* Gradientes e cores principais */
  --cor-gradiente: linear-gradient(135deg, #6f42c1, #1d3557);
  --cor-primaria: #081416e6; /* Fundo principal */
  --cor-primaria-escura: #011d22; /* Fundo mais escuro */
  --cor-secundaria: #166FD4; /* Azul principal */
  --cor-secundaria-fundo: #4dcde115; /* Fundo translúcido */
  --cor-terciaria: #305d70; /* Azul mais neutro */
  --cor-terciaria-leve: rgba(71, 201, 253, 0.36); /* Translúcido para elementos */
  --cor-quaternaria: #f4f5fd; /* Branco para fundos leves */
  --cor-quaternaria-leve: #e0f9fc; /* Fundo claro com tom azulado */

  /* Cores de texto */
  --cor-texto: #ffffff; /* Texto padrão em branco */
  --cor-texto-secundario: #4dcde1; /* Azul claro para textos */
  --cor-texto-titulos: #ffffff; /* Branco para títulos */
  --cor-texto-subtitulos: #1abc9c; /* Verde água para subtítulos */
  --cor-texto-detalhes: #2c3e50; /* Azul escuro para detalhes */

  /* Links */
  --cor-links: #ffffff; /* Cor padrão de links */
  --cor-links-hover: #531abc; /* Cor para hover dos links */

  /* Botões */
  --cor-botoes: #2980b9; /* Azul médio para botões */
  --cor-botoes-hover: #1abc9c; /* Hover em verde água */
  
  /* Bordas e sombras */
  --cor-bordas: #95a5a6; /* Cinza claro para bordas */
  --cor-borda-hover: #000000; /* Preto para hover de bordas */
  --cor-sombras: rgba(0, 0, 0, 0.1); /* Sombras sutis */

  /* Fundos */
  --cor-fundo-padrao: #ecf0f1; /* Fundo branco claro */
  --cor-fundo-secundario: #bdc3c7; /* Fundo cinza claro */
  --cor-fundo-detalhes: #ffffff; /* Fundo branco puro */
  --cor-luz-hover: rgb(146 166 181 / 76%); /* Luz ao redor das imagens no hover */

  /* Cabeçalhos */
  --cor-cabecalho: #2c3e50; /* Azul escuro para cabeçalhos */
  --cor-header: #2980b9; /* Azul médio para o header */
}
