/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Kanit:wght@500&display=swap");
/* Importa fontes externas do Google Fonts. */

/* Variáveis de cor */
:root {    
  --cor-primaria: #212121;
  --cor-secundaria: #166FD4;
  --cor-terciaria: #305d70;
  --cor-terciaria-1: rgba(71, 201, 253, 0.36);
  --cor-quaternaria: #f4f5fd;
  --cor-hover: #001949;
  --cor-texto: #ffffff;
  --cor-texto-hover: #001949;
  --cor-borda-hover: #000000;
  --cor-de-titulos: #ffffff; /* Azul escuro para títulos */
  --cor-de-sub-titulos: #1abc9c; /* Azul um pouco mais claro para subtítulos */
  --cor-de-textos-1: #2c3e50; /* Azul escuro para textos */
  --cor-de-textos-2: #2c3e50; /* Azul escuro para textos */
  --cor-de-textos-3: #2c3e50; /* Azul escuro para textos */
  --cor-links: #ffffff; /* Azul médio para links */
  --cor-links-hover: #1abc9c; /* Verde água para hover dos links */
  --cor-background: #ecf0f1; /* Fundo branco claro */
  --cor-secundaria-background: #bdc3c7; /* Cinza claro para fundos */
  --cor-de-cabecalho: #2c3e50; /* Azul escuro para cabeçalhos */
  --cor-botoes: #2980b9; /* Azul médio para botões */
  --cor-btn-hover: #1abc9c; /* Verde água no hover dos botões */
  --cor-de-bordas: #95a5a6; /* Cinza claro para bordas */
  --cor-sombras: rgba(0, 0, 0, 0.1); /* Sombras sutis */
  --cor-fundos: #ffffff; /* Branco para fundos */
  --cor-fundos-claros: #ecf0f1; /* Branco suave para áreas claras */
  --cor-luz-hover: rgb(146 166 181 / 76%); /* Cor da luz ao redor das imagens no hover (amarelo claro) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Reseta margens e preenchimentos para todos os elementos e define box-sizing para border-box,
     garantindo que o padding e a borda sejam incluídos nas dimensões totais do elemento. */
}

main {
  display: flex;
  flex-direction: column;
  /* Define o contêiner principal como um flexbox com direção de coluna. */
}

header {
  background-color: var(--cor-secundaria);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 10vh;
  /* Define o cabeçalho com uma cor de fundo, flexbox em direção inversa (elementos à direita),
     alinhado verticalmente ao centro e altura de 10% da altura da viewport. */
}

.btn_ver_mais {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: var(--cor-botoes);
  color: var(--cor-de-textos);
  cursor: pointer;
  transition: 500ms;
  /* Define um botão com largura e altura total do contêiner pai, bordas arredondadas,
     sem bordas, cor de fundo e texto definidas por variáveis, cursor de ponteiro e
     transição suave de 500ms para mudanças. */
}

.btn_ver_mais:hover {
  background-color: var(--cor-btn-hover);
  /* Muda a cor de fundo do botão ao passar o cursor para a cor definida para hover. */
}

#links {
  display: flex;
  margin-right: 5%;
  text-decoration: none;
  /* Define o contêiner de links como flexbox, adiciona uma margem direita de 5% e remove o sublinhado dos links. */
}

#links a {
  margin-right: 7%;
  color: var(--cor-links);
  transition: 500ms;
  /* Define links dentro do contêiner com uma margem direita de 7%, cor de texto e transição suave de 500ms para mudanças. */
}

#links a:hover {
  color: var(--cor-links-hover);
  /* Muda a cor do texto dos links ao passar o cursor para a cor definida para hover. */
}

#conteudo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cor-primaria);
  height: 80vh;
  flex-wrap: wrap;
  /* Define o contêiner de conteúdo como flexbox, com espaçamento igual entre itens,
     alinhamento centralizado, cor de fundo e altura de 80% da altura da viewport,
     permitindo que os itens sejam reorganizados em telas menores. */
}

.conteudo img {
  width: 25vw;
  max-width: 420px;
  height: auto;
  max-height: 420px;
  border-radius: 4vw 2vw 4vw 2vw;
  /* Define as imagens dentro do contêiner de conteúdo para ter uma largura de 40% da largura da viewport,
     largura máxima de 420px, altura automática, altura máxima de 420px e bordas arredondadas em círculo. */
}

h3 {
  letter-spacing: 0.3vw;
  text-decoration: none;
  /* Define o espaçamento entre letras para cabeçalhos h3 e remove o sublinhado. */
}

.texto h1 {
  font-size: 3.5vw;
  letter-spacing: 0.2vw;
  color: var(--cor-de-titulos);
  /* Define o tamanho da fonte, espaçamento entre letras e cor para cabeçalhos h1 dentro de texto. */
}

.texto h4 {
  margin-top: 2vh;
  font-size: 2vw;
  color: var(--cor-de-sub-titulos);
  /* Define a margem superior, tamanho da fonte e cor para cabeçalhos h4 dentro de texto. */
}

.texto p {
  max-width: 600px;
  width: 50vw;
  margin-top: 6vh;
  font-size: 1.5vw;
  color: var(--cor-texto);
  /* Define a largura máxima, largura relativa, margem superior, tamanho da fonte e cor para parágrafos dentro de texto. */
}

div .texto{
  background-color: var(--cor-terciaria);
  padding: 5vw;
  border-radius: 6vw 2vw 6vw 2vw;
}

#projetos {
  display: flex;
  justify-content: space-around;
  background-color: var(--cor-primaria);
  padding: 2vh 0;
  flex-wrap: wrap;
  padding: 5vw;
  /* Define o contêiner de projetos como flexbox com espaçamento igual entre itens,
     cor de fundo, preenchimento superior e inferior e permite a reorganização em telas menores. */
}

.projetos {
  max-width: 360px;
  width: 36vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 1vw;
  border: solid 0.18vw var(--cor-de-bordas);
  background-color: var(--cor-terciaria);
  border-radius: 30px;
  box-shadow: 0 4px 8px var(--cor-sombras);
  transition: transform 0.3s;
  padding-bottom: 1vw;
  /* Define os projetos com largura máxima, largura relativa, altura automática,
     layout flexível, bordas arredondadas, cor de fundo, sombra e transições suaves para transformações. */
}

.projetos:hover {
  transform: translateY(-10px);
  /* Adiciona efeito de elevação ao passar o cursor sobre o projeto. */
}

.projetos img {
  max-width: 200px;
  width: 25vw;
  padding: 25px 0 25px 0;
  height: auto;
  transition: filter 0.3s;
  /* Define a largura máxima, largura relativa, altura automática e bordas arredondadas para imagens dentro dos projetos,
     e adiciona uma transição suave para o efeito de filtro. */
}

.projetos:hover img {
  filter: drop-shadow(0 0 15px var(--cor-luz-hover));
  /* Adiciona uma sombra suave ao redor da imagem ao passar o cursor sobre o projeto,
     criando um efeito de luz ao redor da imagem. */
}

.projetos h3 {
  margin: 2vh 0;
  font-weight: bold;
  font-size: 1.8vw;
  letter-spacing: 0.5vw;
  color: var(--cor-btn-hover);
  text-decoration: none;
  /* Define a margem superior e inferior, peso da fonte, tamanho da fonte, espaçamento entre letras e cor para cabeçalhos h3 dentro dos projetos, e remove o sublinhado. */
}

.suporte_botao {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1vh 0;
  /* Define o contêiner de suporte a botões como flexbox, com largura total, alinhamento e justificação centralizados e preenchimento vertical. */
}

.suporte_botao .btn_ver_mais {
  max-width: 180px;
  max-height: 60px;
  width: 15vw;
  height: 7vh;
  border-radius: 1vw;
  font-size: 1.2vw;
  /* Define o botão dentro do suporte com largura e altura máximas, largura relativa, altura relativa,
     bordas arredondadas e tamanho da fonte. */
}

.botao_ver_mais a p {
  color: var(--cor-links);
  font-size: 1vw;
  transition: 500ms;
  text-decoration: none;
  /* Define a cor do texto e tamanho da fonte para o parágrafo dentro do link do botão, com transição suave de 500ms para mudanças e remove o sublinhado. */
}

.botao_ver_mais a p:hover {
  color: var(--cor-links-hover);
  /* Muda a cor do texto ao passar o cursor sobre o parágrafo dentro do link do botão. */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .texto h1 {
    font-size: 5vw;
  }

  .texto h4 {
    font-size: 3vw;
  }

  .texto p {
    font-size: 2.5vw;
    width: 90vw;
  }

  #conteudo {
    flex-direction: column;
    height: auto;
  }

  .conteudo img {
    width: 60vw;
  }

  .projetos {
    width: 80vw;
  }

  .projetos h3 {
    font-size: 3vw;
  }

  .suporte_botao .btn_ver_mais {
    width: 30vw;
    font-size: 3vw;
  }
  /* Estilos aplicados quando a largura da viewport é 768px ou menor, ajustando tamanhos de fonte e larguras para maior legibilidade e adaptabilidade em dispositivos menores. */
}

@media (max-width: 480px) {
  .texto h1 {
    font-size: 6vw;
  }

  .texto h4 {
    font-size: 4vw;
  }

  .texto p {
    font-size: 3vw;
  }

  .conteudo img {
    width: 70vw;
  }

  .projetos {
    width: 90vw;
  }

  .projetos h3 {
    font-size: 4vw;
  }

  .suporte_botao .btn_ver_mais {
    width: 40vw;
    font-size: 4vw;
  }
  /* Estilos aplicados quando a largura da viewport é 480px ou menor, ajustando ainda mais tamanhos de fonte e larguras para dispositivos muito pequenos. */
}


footer {
  background-color:var(--cor-terciaria);
  color: white;
  padding: 20px;
  
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.contact, .copyright, .quick-links, .certifications, .location {
  flex: 1;
  margin: 10px;

}

a {
  color: #ffcc00; /* Cor para os links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer-quote {
  text-align: center;
  font-style: italic;
  padding-top: 5vh;
}
